@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Nohemi-1";
  src: url("../assets/Fonts/Nohemi/Nohemi-Regular-BF6438cc4d0e493.ttf");
}
@font-face {
  font-family: "Nohemi-2";
  src: url("../assets/Fonts/Nohemi/Nohemi-Black-BF6438cc58744d4.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Gradient-1: linear-gradient(180deg, #1daa7e 0%, #1a8463 100%);
  --Gradient-2: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  --Base-Base-Black: #2b2b2b;
  --Black-Black800: #565656;
  --Primary-Primary700: #157254;
  --Base-Base-White: #fafafa;
  --Primary-Primary900: #0c4332;
}

header {
  width: 100%;
  height: 80px;
  backdrop-filter: blur(10px);
  position: fixed;
  background: var(--Gradient-2);
  z-index: 10;
}

.nav-bar {
  width: inherit;
  height: inherit;
  display: flex;
  padding: 24px 112px;
  justify-content: space-between;
  align-items: flex-start;
  backdrop-filter: blur(0px);
}

.logo img {
  width: 210.825px;
  height: 55px;
}

.links-button {
  display: flex;
  align-items: center;
  gap: 48px;
  font-family: "Outfit";
  flex-shrink: 0;
}

.btn {
  width: 194px;
  height: 47px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.links-button #btn-1 {
  font-family: "Outfit";
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: var(--Gradient-1);
  color: var(--Base-Base-White);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  box-shadow: 0 4px rgba(0, 0, 0, 0.824);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 32px;
  list-style: none;
  text-align: center;
  font-weight: 500;
}

.s-link {
  list-style: none;
}

.link a,
.s-link a {
  text-decoration: none;
  color: var(--Base-Base-Black);
}

.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: #ffffff2c;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  transform: translateX(300px);
}

.s-link {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
}

.s-link:hover {
  background: linear-gradient(
    180deg,
    rgba(29, 170, 126, 0.3) 0%,
    rgba(26, 132, 99, 0.3) 100%
  );
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  position: relative;
  z-index: 3;
}

.hero::before {
  content: "";
  background-image: url("../assets/Hero-assets/BACKGROUND.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.18;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: 4;
}

.contents {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
}

.changing,
.not-changing {
  display: inline-block;
  background: var(--Gradient-1);
  color: transparent;
  background-clip: text;
  font-family: "Nohemi-2";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.changing {
  animation: Change 10s ease-in-out infinite;
}

.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  padding-top: 64px;
}

.heading-1 {
  text-align: center;
  font-family: "Nohemi-1";
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-2 {
  font-family: "Nohemi-1";
  font-size: 64px;
}

.para-1 {
  color: var(--Black-Black800);
  text-align: center;
  font-family: "Outfit";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 651px;
}

.para-2 {
  color: var(--Base-Base-Black);
  font-family: "Outfit";
  font-weight: 400;
}

.quote {
  color: var(--Primary-Primary700);
}

.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 681px;
  position: relative;
}

.text-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  overflow: hidden;
  margin-left: 3px;
  margin-bottom: 4px;
  padding: 7px;
}

@keyframes Change {
  0% {
    transform: translate(0%);
  }
  10% {
    transform: translateY(-70px);
  }
  35% {
    transform: translateY(-70px);
  }
  45% {
    transform: translateY(-140px);
  }
  65% {
    transform: translateY(-140px);
  }
  75% {
    transform: translate(0%);
  }
}
